* {
    margin: 0;
    padding: 0;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    /* box-sizing: border-box; */
}

body {
    background-color: aliceblue;
}

hr {
    margin: 10px auto;
}

.task-title{
font-weight: bold;
}
.task-desc {
    margin-left: 70px;
    margin-bottom: 30px;
}

.delete-button {
    margin-left: 70px;
    background-color: rgb(180, 16, 16);
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(171, 26, 0);
}

/* Shop */


.pro-card {
    padding: 30px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.card {
    width: 15%;
    background-color: rgb(190, 197, 204);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    min-width: 250px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.card:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card h1 {
    font-size: 25px;
    margin: 4px 0px;
    font-family: sans-serif;
}

.card p {
    font-weight: 500;
}

.card .price {
    display: flex;
    justify-content: space-between;
    padding: 8px 4px;
}

.card span {
    color: rgb(89, 89, 89);
    font-size: 15px;
}

.card button {
    background-color: rgb(255, 255, 113);
    padding: 5px 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.card button:hover {
    background-color: rgb(255, 217, 0);
}
