* {
    margin: 0;
    padding: 0;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    ;
}

.pro-card {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-display-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail-images {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
}

.thumbnail-images img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    object-fit: cover;
}

.thumbnail-images img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-details {
    /* padding; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-;
    margin-top: 10%;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details h3 {
    font-size: 20px;
    color: #b12704;
    margin-bottom: 20px;
}

.product-details label {
    font-size: 14px;
    margin-bottom: 10px;
}

.product-details select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.product-description {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.product-details button {
    padding: 10px 20px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-details button:hover {
    background-color: #ddb347;
}

@media (max-width: 768px) {
    .pro-card {
        flex-direction: column;
    }

    .product-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}